/* style.css */
* {
  margin: 0;
  padding: 0;
  background-color: beige;
  border-color: rgb(24, 24, 45);
  box-shadow: none;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
header {
  height: min(15vh);
  display: flex;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#title,
.suppliment-title {
  font-size: 50px;
  margin-left: 2%;
  margin-top: 2%;
}

.suppliment-title {
  font-weight: 200;
  font-style: italic;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 5%;
}

.filters,
.my-projects {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.sidebar button {
  width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: large;
  gap: 5%;
}
dialog {
  height: 40vw;
  width: 30vw;
  position: absolute;
  top: 5vw;
  left: 35vw;
  padding: 2em;
}
dialog #to-do-description,
#project-name,
#to-do-due {
  background-color: beige;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}

dialog input {
  margin: 10px;
}
ul {
  list-style: none;
}

form > ul > li {
  margin-bottom: 3%;
}
form > ul > ul > li {
  margin-bottom: 1%;
  margin-left: 10%;
}
form > ul > ul > p {
  margin: 10px;
}
dialog > button {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 7%;
}

legend {
  font-size: x-large;
  font-weight: 700;
}

.project_to_dos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
label,
.editBtn,
.deleteBtn,
.add_new_to_do,
.delete_project,
.add_to_do_button {
  padding: 5px;
  align-self: center;
}

label > div {
  margin: 3px;
}

.display > .card > .project_to_dos {
  display: flex;
  flex-direction: column;
}

.display > .card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 20px;
  gap: 5px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  gap: 20px;
}

.editBtn,
.deleteBtn,
.add_new_to_do,
.delete_project,
.add_to_do_button {
  border: none;
  color: grey;
}
.editBtn:hover::after {
  content: "edit";
}
.deleteBtn:hover::after {
  content: "delete";
}

.add_new_to_do:hover::after,
.add_to_do_button:hover::after {
  content: "add a new to do task";
}

.delete_project:hover::after {
  content: "delete the project";
}

.edit_project_buttons {
  align-self: self-end;
  margin-top: -20px;
  margin-bottom: 10px;
}

.add_to_do_button {
  align-self: flex-end;
  border-radius: 10px;
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(190, 190, 190);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgba(255, 255, 255, 0);
  text-align: start;
}

td {
  text-align: center;
}

th > ul > li {
  list-style: disc;
}

.table input {
  width: 250px;
  border-radius: 10px;
  border-color: rgb(190, 190, 190);
  border: 1px ridge;
}

.table select {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  border-color: rgb(190, 190, 190);
  border: 1px ridge;
}

th.save-button-cell {
  text-align: end;
  border: none;
}
.save_button {
  border-radius: 10px;
  border: 1px solid grey;
  width: 100px;
  height: 30px;
}
.progress_bar {
  width: 100%;
}
.progress_bar::-webkit-progress-value {
  border-radius: 10px;
  background-color: rgb(67, 67, 203);
}
progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: lightgray;
}
